/* Base structure */
html,
body {
  height: 100%;
}
body {
  color: #333;
  text-align: center;
}
h1 {
  font-size: 3.5em;
  font-weight: bold;
}

/* Cover */
.cover {
  /* Unsure why */
  padding: 0 20px;
}

/* Footer */
.footer {
  padding: 30px;
}

.lead {
  color: #777;
}

.btn-lg {
  padding: 7.5px 20px;
  font-weight: bold;
}

#timerDisplay {
  /* Hack for making progressbar and buttons not move on switch */
  margin-top: 50px;
}

#timerSelect {
  text-align: right;
  font-size: 1.25em;
}

#timerSelectForm {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  /*margin: -20px auto 15px auto;*/
}

#timerBar {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

/* Blinking text */
.blink {
  animation: blinker 2s ease infinite;
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}

/* Make disabled buttons more muted */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.3;
}

.btn:active, .btn:focus, .btn:hover {
   outline: none !important;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.15);
          box-shadow: inset 0 0 100px rgba(0,0,0,.15);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .footer {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .footer,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .footer,
  .cover-container {
    width: 700px;
  }
}

/* Transitions & animations */
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}